
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="fontAwesome/css/all.min.css">
    <link rel="stylesheet" href="fontAwesome/css/bootstrap.min.css">
    <title>Zero Hunger</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #000000; 
        }
        img {
            width:100%;
        }

        .textArea {
            padding-top: 230px;
            padding-left: 240px;
            color: green;
            font-size: 18px;
            font-style: italic;
        }
    </style>
</head>

<body>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" indicators interval="1000" pause=false>
        <div>
            <h2 align="center"> Welcome to homepage </h2>
            
           
        </div>
    </div>


</body>

</html>